<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>header}}
        <div class="dashboard-container">
       <div class="dashboard_header">
       <h1>POSTS</h1>
       <a href="/addpost">+ Add New</a>
       </div>

       <ul class="admin-post">
       {{#each data}}
       <li class="dashboard_list">
        <a href="/post/{{_id}}">
       <p class="post_title">{{title}}</p>
        </a>
        <div class="admin-post-controls">
            <a href="/edit-post/{{_id}}" class="btn-edit">Edit</a>
           <form action="/delete-post/{{_id}}?_method=DELETE" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>
        </div>
       </li>
       {{/each}}
       </ul>
       </div>
    {{>footer}}
</body>
</html>