<header>
    <a href="/" class="header_logo">NodeJs</a>
    <nav class="header_nav">
        <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
        </ul>
    </nav>
   
   <div class="header_button">
    <form action="/search" method="POST" class="search_from">
    <input type="search" name="searchterm" id="searchInput" placeholder="Search the Site..">
    

    <button class="searchBtn" type="submit">
        Search
    </button>
      </form>
   </div>

</header>  